
body{
  background-color:rgb(235, 53, 177);
}


#top-card {
  z-index: 1000;
  background-color: rgb(235, 53, 177);
 padding-bottom: 10px;
  box-shadow: 0 0 6px rgb(125, 122, 122);
}
.chatcard {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-card {
  text-transform:capitalize ;
  height: 3rem;
  width: 16rem;
 
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid rgb(230, 11, 237);
}

.chatlist {
  margin-bottom: 13rem;
   
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.logincard{
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  position: fixed;
  background-color: rgb(66, 64, 66);
  z-index: 1;
 }

 #login-cont{
  background-color: white;
  box-shadow: 0 0 8px rgb(54, 53, 53);
  padding: 10px;
  border-radius: 10px;
  height: 19rem;
  padding-top: 1rem;
  width: 20rem;
  text-align: center;

 }
 .login-text{
  width: 16rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  text-transform:capitalize ;
  border: 2px solid rgb(230, 11, 237);
  margin-bottom: 10px;
 }

 #refresh{
  position: fixed;
  right: 5px;
  bottom: 10.1rem;
 }

 .list-text{
  list-style: none;
  box-shadow: 0 0 6px rgb(154, 152, 152);
  padding: 10px;
  margin-top: 15px;
  background-color:white;
  font-family: robot;
  border-radius: 10px;
  
 }

 .list-text:hover{
  box-shadow: 0 0 8px rgb(216, 17, 160);
 }

 .theme-card{
  position: fixed;
  right: 3px;
  background-color:black;
  border-radius: 50%;
  top: 10px;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 .del-card{
 position: fixed;
 left: 3px;
 bottom: 10.1rem;

 }